/* App.css */
h1,
h3,
h4,
p {
  margin: 0.5em 0;
  font-family: Helvetica Neue;
  font-weight: 400;
}

h2 {
  margin: 0.5em 0;
  font-family: Helvetica Neue;
  font-weight: 400;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  /* Blue button */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  /* Darker blue on hover */
}

.user-input {
  margin-bottom: 20px;
  /* Add space below the input */
}

.card li {
  padding: 0px 10px 0px 0px;
}

.weather-app {
  div {
    padding: 10px;
  }

  input {
    width: 70%;
  }
}

.hourlyDataItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.9rem;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
}

/* .hourly-container{
    margin: 0 0.1rem;
  } */

.scroll ::-webkit-scrollbar {
  display: none;
}

.scroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}