$spacing-xxs: 0.125rem;
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-smd: 0.625rem;
$spacing-base: 0.75rem;
$spacing-md: 1rem;
$spacing-normal: 1.25rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 2.5rem;
$spacing-xlg: 3.5rem;
$spacing-xxxl: 8rem;

